<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar nav-pils" ng-repeat="bucket in buckets | orderBy :'name'">
        <li ng-controller="BucketButtonCtrl">
            <p class="navbar-text"> {{bucket.name}}</p>
            <button type="button" class="btn btn-default btn-xs navbar-btn" ng-disabled="isActive"
                    ng-click="ActiveGraphs.addBucket(bucket)">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs navbar-btn" ng-disabled="! isActive"
                    ng-click="ActiveGraphs.removeBucket(bucket)">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </li>
    </ul>
</div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">Dashboard</h3>


    <div class="row placeholders">
        <div ng-repeat="bucket in showedBuckets" class="col-xs-9 col-sm-6 placeholder">
            <span ng-controller="ChartCtrl">
                <rickshaw rickshaw-options="options" rickshaw-features="features" rickshaw-series="series"></rickshaw>
             </span>
        </div>

    </div>
</div>