<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar nav-pils" ng-repeat="b in buckets | orderBy :'name'">
        <li><p class="navbar-text"> {{b.name}}</p>
            <button type="button" class="btn btn-default btn-xs navbar-btn" ng-click="addBucket(b)"
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </li>
    </ul>
</div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div ng-repeat="b in showedBuckets" class="col-xs-9 col-sm-6 placeholder">
            <highchart id="chart1" config="chartConfig" bucket="b" subscribe="subscribe"/>
            <button type="button" class="btn btn-default btn-xs" ng-click="removeBucketByIndex($index)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

    </div>
</div>